<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #fdb793;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
<ul>
    <li><a th:href="@{/recordList}">Список заметок</a></li>
    <li><a th:href="@{/addRecord}">Добавить заметку</a></li>
</ul>
<h1 align="center">Заметки онлайн</h1>
<br>
</body>
</html>